.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #ffeb3b; /* Cambia a tu preferencia */
}